In [ ]:
import pandas as pd
import numpy as np

In [ ]:
filepath ="../datasets/athletes/"
data_main = pd.read_csv(filepath+ "Medals.csv",encoding ="ISO-8859-1")

data_country = pd.read_csv(filepath + "Athelete_Country_Map.csv",encoding = "ISO-8859-1")
data_country_dp = data_country.drop_duplicates(subset="Athlete")

data_sports = pd.read_csv(filepath + "Athelete_Sports_Map.csv",encoding="ISO-8859-1")
data_sports_dp = data_sports.drop_duplicates(subset="Athlete")

In [ ]:
data_main.head()

In [ ]:
#Elegimos 6 atletas al azar para eliminar informacion de sus paises y deportes para introducir NaNs en el dataset
out_athletes = np.random.choice(data_main["Athlete"],size = 6,replace=False)

In [ ]:
#armamos nuevos datasets quitando los atletas del dataframe out_athletes, y marcamos un atleta para ver si es correcto
data_country_dlt = data_country_dp[(~data_country_dp["Athlete"].isin(out_athletes)) &
                                  (data_country_dp["Athlete"] != "Michael Phelps")]

data_sports_dlt  = data_sports_dp[(~data_sports_dp["Athlete"].isin(out_athletes)) &
                                  (data_sports_dp["Athlete"] != "Michael Phelps")]

data_main_dlt =   data_main[(~data_main["Athlete"].isin(out_athletes)) &
                             (data_main["Athlete"] != "Michael Phelps")]

In [ ]:
len(data_main_dlt)

## Tipos de Joins

In [ ]:
from IPython.display import Image

### Inner Join
* Devuelve un dataframe con las filas que tienen valor tanto en el primer como en el segundo dataframe que se desea unir
* El numero de filas sera igual al numero de filas que **ambos datasets tenga en comun**. Interseccion de dos conjuntos
    * A tiene 60 filas
    * B tiene 50 filas
    * Ambos tienen 30 filas en comun
    * A Inner Join B tendra 30 filas

In [ ]:
#data_main tiene toda la info, y data_country_dlt le faltan 7 atletas
merged_inner = pd.merge(left = data_main, right = data_country_dlt,
                        how ="inner", left_on ="Athlete",right_on="Athlete")

In [ ]:
len(merged_inner)

In [ ]:
#ver que no aparece michel pelphs ya que no aparece en el dataset izquierdo, aunque si en el derecho
merged_inner.head()

### Left Join
* Devuelve un dataframe con las filas que tuvieran valor en el dataset izquierdo, sin importar si existen en el de la derecha
* Las filas del dataframe final que no tengan correspondencia en el dataframe derecho quedaran con tipos NaN en las columnas del dataframe derecho
* El numero de filas del dataframe final sera igual al numero de filas del dataframe izquierdo
    * A tiene 60 filas
    * B tiene 50 filas
    * A Left Join B tendr√° 60 filas
* Todo el dataset izquierdo mas la interseccion (elementos comunes) con el dataset derecho

In [ ]:
merget_left = pd.merge(left = data_main,right = data_country_dlt,
                       how = "left", left_on ="Athlete",right_on ="Athlete")
len(merget_left)

In [ ]:
#ver como se introdujeron NaNs en los valores sin correspondencia entre datasets
merget_left.head()

### Right Join
* Devuelve un dataframe con las filas que tuvieran valor en el dataset de la derecha sin importar si existen en el de la izquierda
* Las filas del dataframe

In [ ]:
#info de atletas(medallas) y paises, recordar que en data_main_dlt hemos quitado 7 atletas
merged_right = pd.merge(left = data_main_dlt,right = data_country_dp,
                       how ="right",left_on="Athlete",right_on ="Athlete")
len(merged_right)

In [ ]:
#notar como ahora michel pelphs aparece al final, al ser un right join y los valores
#que no tienen correspondencia en de la izquierda aparecen al final con NaN
merged_right.tail(10)

### Outer Join
* Devuelve un dataframe con todas las filas de ambos dataset, reemplazando las ausencias de uno u otro con NaN
* Las filas del dataframe fnal que no correspondan a ninguna fila del dataset derecho o izquierdo tendran NaN en las columnas
  del respectivo dataframe
* El numero de filas sera igua al numero maximo de filas de ambos dataset

In [ ]:
#par demostrar el outer join, agrgareamos un atleta mas a data_country_dlt
data_country_jb = data_country_dlt.append(
   {
        "Athlete": "Cristian Ortiz Navia",
        "Country": "Chile"
   },ignore_index = True
)

In [ ]:
merged_outer = pd.merge(left = data_main,right=data_country_jb,
                        how ="outer",left_on="Athlete", right_on="Athlete")
len(merged_outer)

In [ ]:
#ver como aparece el nuevo atleta agrgado al final por ser dominante el dataset de la derecha, pero con valores NaN, al no tener
#correspondencia en el dataset de medallas, data_main
merged_outer.tail(10)