In [18]:
#carga de datos a traves de la funcion read_csv
import pandas as pd
import os
mainpath = "/Users/cristian/Google Drive/JupyterNotebooks/machine_learning/datasets"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(mainpath,filename)

#guarda los datos del archivo en un dataframe
data = pd.read_csv(fullpath)
#muestra los 5 primeros registros o filas del dataset
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

# parametros importantes de la funcion read.csv()

In [ ]:
""""
-dtype puede definir columnas con un tipo de dato especifico
-header define que fila es cabecera y names define cabeceras si el dataset no trae
-skiprows  permite saltarse filas para leer, si vale 12, se empezaria a leer desde la fila 13
-index_col permite etiquetar filas
-skip_blank_lines, se salta espacios en blanco
-na_filter = True elimina filas con valores nulos o desconocidos del dataset, cuidado con este..."""
#read.csv(filepath="/Users/cristian/Google Drive/Jupyter notebooks/machine_learning/datasets/titanic/titanic3.csv",
#        sep = ",",dtype={"a":np.float64, "b":np.int32},header=0,names={"ingresos","edad"},skiprows=None,index_col=None,
#        skip_blank_lines=False,na_filter=False)

# Ejemplo de cambiar las cabeceras de un data set, caso frecuente de que se entreguen por separado el dataset y sus cabeceras

In [21]:
#cargo un dataset que en txt, pero separado por comas, con sus cabeceras originales
data2  = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt")
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [22]:
#desde el dataframe podemos ver los nombres de las columnas
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [34]:
#desde otro archivo cargo las cabeceras y las transformo en una lista
data_cols = pd.read_csv(mainpath+ "/" +"customer-churn-model/Customer Churn Columns.csv")
data_col_list = data_cols["Column_Names"].tolist()
data_col_list
#ahora cargo de nuevo el dataset, pero le indico que las cabeceras de las columnas seran las de data_col_list
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", header = None, names =data_col_list)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# carga de datos con la funcion open, para datasets muy grandes

In [53]:
#abro el dataset con la funcion open en modo de solo lectura 'r'
data3 = open(mainpath + "/"+"customer-churn-model/Customer Churn Model.txt","r")

In [54]:
#lee la primera linea (la de cabeceras), quita los espacios en blanco al inicio y al final, strip, y divide el texto con comas, 
#split, formando un array
cols = data3.readline().strip().split(",")
#obtengo el numero de columnas..21
n_cols = len(cols)
n_cols

21

In [55]:
#se crea un diccionario con el array anterior mas un array vacio por cada cabecera, como clave del array, estilo JSON
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

In [51]:
main_dict

{'KS': [],
 '128': [],
 '415': [],
 '382-4657': [],
 'no': [],
 'yes': [],
 '25': [],
 '265.100000': [],
 '110': [],
 '45.070000': [],
 '197.400000': [],
 '99': [],
 '16.780000': [],
 '244.700000': [],
 '91': [],
 '11.010000': [],
 '10.000000': [],
 '3': [],
 '2.700000': [],
 '1': [],
 'False.': []}

In [56]:
#rellenar el diccionario leyendo cada linea del dataset (line), esquema de lectura y llenado de matriz NxN
for line in data3:
    #cada valor se obtendra de cada linea del dataset quitando espacios vacios y dividido por comas, como antes
    values = line.strip().split(",") 
    #cada [] del diccionario sera un array con los valores leidos y procesados desde el dataset
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter +=1
print("El dataset tiene %d filas y %d columnas" %(counter,n_cols))

El dataset tiene 3333 filas y 21 columnas

In [57]:
#creamos un dataframe de panda y el resultado es el mismo que con la funcion read_csv, recordar que esto es para grandes
#datasets que podrian ser cargados en partes, o incluso en distintas maquinas y hacer la carga manual de datos
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.